.header{
    color: #FF0000;
}
body{
    background-image: url("/netflix.webp");
}
.container{
    height: 650px;
    padding-left: 450px;
    font-size: 30px;
    background: #8CA1A5;
    border-width: 6px;
    width: 50%;
    box-sizing:content-box;
    
}
.sign{
    color: #F3F0D7;
}
.input{
    width: 50%;
    height: 40px;
    border-radius: 4px;
    border: 2px solid #8CA1A5;
    background-color: #334756;
}
.input-submit{
    background-color: #FF0000;
    width: 50%;
    height: 40px;
    border-radius: 4px;
    font-size: 20px;
    color: white;

}